set number
set relativenumber
set ignorecase
set smartcase
set hlsearch
set incsearch
set wrap

let mapleader = " "
let maplocalleader = " "

nnoremap <silent> <C-s> :w<CR>
inoremap jk <Esc>
nnoremap <silent> <leader>h :nohlsearch<CR>

nnoremap <silent> <S-l> :action NextTab<CR>
nnoremap <silent> <S-h> :action PreviousTab<CR>
nnoremap <silent> <leader>bn :action NextTab<CR>
nnoremap <silent> <leader>bp :action PreviousTab<CR>
nnoremap <silent> <leader>bd :action CloseContent<CR>
